@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/estrela.png), linear-gradient(to bottom ,var(--preto), var(--violeta), var(--claro));
    width: 400px;
    height: 350px;
    align-items: center;
    margin: auto;
    background-attachment:fixed;
}

:root{
    --preto: #0F0042 ;
    --branco: #DEF7FF ;
    --vermelho: #A61661;
    --claro: #f882bf;
    --violeta: #381087;
}

.texto{
    text-align: center;
    color: var(--branco);
    margin-bottom: 20px;
    font-family: "Rubik","sans-serif";
    text-shadow:  2px, 2px, 0px, var(--branco);
}

/* botao */

.botao{
    text-decoration: none;
    background-color: var(--vermelho);
    color: var(--branco);
    margin: 6px;
    padding: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.letra{
    text-decoration: none;
    color: var(--branco);
    align-items: center;
    display: flex;
    justify-content: center;
}