@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preto: #0F0042 ;
    --branco: #DEF7FF ;
    --vermelho: #A61661;
    --claro: #f882bf;
    --violeta: #381087;
    --cinza: #4F5671;
}

body{
    background-image: url(../img/estrela.png), linear-gradient(to bottom ,var(--preto), var(--violeta), var(--claro));
    background-repeat: no-repeat;
    width: 400px;
    height: 350px;
    align-items: center;
    margin: auto;
    background-attachment:fixed;
    background-color: rgba(0, 0, 0, 0.681);
    place-items: center;
}
.texto{
    text-align: center;
    color: var(--branco);
    margin-bottom: 20px;
    font-family: "Rubik","sans-serif";
    text-shadow:  2px, 2px, 0px,#0f004264;
}

/* botao */

.botao{
    text-decoration: none;
    background-color: var(--vermelho);
    color: var(--branco);
    margin: 13px;
    padding: px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 400px;
    height: 60px;
     font-family: "Rubik","sans-serif";
}
img{
    align-items: center;
    margin-top: 140px;
    margin-bottom: 50px;
    background-color: 2px var(--claro);
}
.star{
    width: 350px;
    display: flex;
    border: 2px 0px 0px var(--branco);
}

.bot {
    display:  flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100px;
    padding: 20px;
}
.a{
    background-color: #1303445e;
    width: 500px;
    height: 500px;
    padding:10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column; 
    backdrop-filter: blur(2px);
}